<?php
　$name=$_POST[name];
　echo $name;
  $contact=$_POST[contact];
　echo $contact;
  $count=$_POST[count];
　echo $count;
  $datetime=$_POST[datetime];
　echo $datetime;
  $option=$_POST[option];
　echo $option;
  $plus=$_POST[plus];
　echo $plus;
?>

<!DOCTYPE html>
<html>
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" />
    <title>LIFF 預約表單</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <form action="post.php" method="post">
    <div class="row" style="margin: 10px">
        <div class="col-12" style="margin: 10px">
            <label>預約姓名</label>
            <input type="text" id="name" class="form-control" />
            <br />
            <label>預約電話</label>
            <input type="number" id="contact" class="form-control" />
            <br />
            <label>預約人數</label>
            <input type="number" id="count" class="form-control" />
            <br />
            <label>預約日期</label>
            <input type="date" id="datetime" value="" class="form-control" />
            <br />
            <label>兒童寫真方案選擇</label>
            <select id="option" class="form-control">
                <option selected>純數位檔方案 $4,999</option>
                <option>紀念方案 $8,888</option>
                <option>典藏方案 $13,500</option>
                <option>全檔精緻方案 $18,500</option>
                <option>成長方案-2年內拍攝3次（可包含新生兒寫真）$19,999</option>
            </select>
            <br />
             <label>加購項目(可複選)</label>
            <select id="plus" class="form-control" multiple>
                <option selected>無</option>
                <option>外加入鏡 $500/人(爸媽以外成員)</option>
                <option>媽媽另加妝髮造型 $1,000/套</option>
                <option>兒童造型服 $500/套</option>
                <option>新生兒造型 $1,000/套</option>
                <option>外景拍攝另加 $500-3,000（依地點報價）</option>
            </select>
            <br />
            <button type = "submit" class="btn btn-success btn-block" id="sure">確定</button>
        </div>
    </div>
    </form>

    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
	<script>
        function initializeLiff(myLiffId) {
            liff.init({liffId: myLiffId });
        }

		function pushMsg(pname, pdatatime, proom) {
			if (pname == '' || pdatatime == '' || proom == '') {  //資料檢查
				alert('每個項目都必須輸入！');
			 	return;
			}
			var msg = "###";  //回傳訊息字串
			msg = msg + pname + "/";
			msg = msg + pdatatime + "/";
			msg = msg + proom;
			liff.sendMessages([  //推播訊息
				{ type: 'text',
				  text: msg
				}
			])
				.then(() => {
					liff.closeWindow();  //關閉視窗
				});
		}

		$(document).ready(function () {
			initializeLiff('{{ 1657374116-k9LW9KY7 }}');  //接收傳遞的 liffid 參數
			$('#sure').click(function (e) {  //按下確定鈕
				pushMsg($('#name').val(), $('#datetime').val(), $('#option').val(), $('#plus').val());
			});
		});
	</script>
</body>
</html>
